
.App{
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.add-to-cart img{
 width: 71px;
    position: absolute;
    right: 1%;
    top: 1%;

}

.cart-wrapper{
  width: 751px;
    height: 237px;
    font-weight: 500;
    border: 1px solid;
    margin: 52px;

}
.img-wrapper img{
  width: 89px;
  margin: 59px;
  position: absolute;
  margin-left: -111px;
  top: 93px;
}
.btn-wrapper button{
      font-size: 15px;
    border-color: chocolate;
    background-color: red;
   padding: 10px;
    border-radius: 4px;
    margin-top: 63px;
   margin-left: 612px;
  top: 28px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
